.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.ReactCodeMirror {
  border: 1px solid #ccc;
  margin-top: -5px;
}

.align-right {
  text-align: right;
}

.aspect-ratio-icon {
  cursor: pointer;
}

.grey-text {
  color: grey;
}

.padding-5 {
  padding: 5px;
}

.no-data-text {
  text-align: center;
  margin-top: 30px;
}

.chart-navs {
  padding-bottom: 10px;
}

/* overwrite boostrap-slider default width */
.slider.slider-horizontal {
  width: 100% !important;
}

.color-palette {
  float: left;
  padding: 0;
  margin: 0;
  clear: left;
  width: 100%;
}

.color-palette div {
  float: left;
  padding: 0;
  margin: 0;
  list-style: none;
  height: 20px;
  width: 10%;
  margin-top: 4px;
}

/* overwrite Bootstrap styles */
.panel-heading > .panel-title {
  font-size: 12px;
}

.control-label {
  font-size: 12px;
}
